{#

Description text.

#}

{{ attach_library('core/drupal.dialog.ajax') }}
{% set lampyre = path('lampyre.settings') %}
{% set searchpage = path('osint.search') %}
{% trans %}
<p>OSINT Module API's configuration</p>
<p><a href={{ lampyre }}>Lampyre</a></p>
<p>OSINT Search page</p>
<p><a href={{ searchpage }}>Search Page</a></p>
{% endtrans %}
